.survey.show .survey-items-menu {
  display: table;
  width: 100%;
  text-align: right;
}
.survey.show .survey-items-menu li {
  padding: 0;
  position: relative;
  display: table-cell;
}
.survey.show .survey-items-menu li a, .survey.show .survey-items-menu li:before {
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
.survey.show .survey-items-menu li:before {
  border-top: 4px solid #e2e2e2;
  border-bottom: 4px solid #e2e2e2;
  content: "";
  height: 12px;
  background: #e2e2e2;
  display: block;
  width: 100%;
  position: absolute;
  top: 9px;
  z-index: 1;
}
.survey.show .survey-items-menu li a {
  border: 5px solid #e2e2e2;
  border-radius: 50%;
  background: #f1f1f1;
  display: inline-block;
  height: 30px;
  width: 30px;
  position: relative;
  right: -2px;
  z-index: 2;
}
.survey.show .survey-items-menu li.active a, .survey.show .survey-items-menu li.active:before {
  background: #2bd18b;
}
.survey.show .question-row {
  padding: 35px 0 45px;
}
.survey.show .question-row .question-item {
  display: none;
}
.survey.show .question-row .question-item.active {
  display: block;
}
.survey.show .question-row .question-item h5 {
  margin-bottom: 45px;
}
.survey.show .question-row .options .option {
  text-align: left;
  position: relative;
}
.survey.show .question-row .options .option + .option {
  margin-top: 20px;
}
.survey.show .question-row .options .option input {
  display: none;
}
.survey.show .question-row .options .option input:checked + label:before {
  background: #5d5d5d;
}
.survey.show .question-row .options .option label {
  cursor: pointer;
  padding-left: 35px;
  position: relative;
  text-align: justify;
}
.survey.show .question-row .options .option label:before {
  border: 2px solid #d2d2d2;
  content: '';
  height: 20px;
  width: 20px;
  display: inline-block;
  background: #ebebeb;
  position: absolute;
  left: 2px;
  top: 0px;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
.survey.show .question-row .options .option-radio label:before {
  border-radius: 50%;
}
.survey.show .question-row .options .option-checkbox label:before {
  border-radius: 5px;
}
.survey.show .question-row .options .option-checkbox label:after {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 25px;
  position: absolute;
  left: 1px;
  top: 1px;
  line-height: 20px;
}
.survey.show .question-row .options .option-checkbox input:checked + label:before {
  background: #ebebeb;
}
.survey.show .question-row .options .option-checkbox input:checked + label:after {
  content: '\F00C';
}
.survey.show .question-controls {
  margin-top: 45px;
}