<div *ngIf="survey; else elseTemplate">
  <ul class="hidden-xs list-inline survey-items-menu" *ngIf="items.length > 0">
    <li *ngFor="let menuItem of items; let i = index" [class.active]="isItemAnswered(menuItem)">
        <a (click)="changeActiveItem(item, i)" title="{{ menuItem.question }}" [class.active]="isItemActive(menuItem)">{{ i + 1 }}</a>
    </li>
  </ul>
  <div class="visible-xs mobile-navigation mrg25B">
    <div class="row" *ngFor="let mMenuItem of items; let i = index" [class.hidden]="!isItemActive(mMenuItem)">
      <div class="col-xs-4 text-left">
          <a (click)="changeActiveItem(item, i - 1)" class="btn btn-orange" *ngIf="notFirstItem(mMenuItem)"><i class="fa fa-angle-left"></i> PREV</a>
      </div>
      <div class="col-xs-4 text-center mrg5T"><p class="font-open-light">{{ i + 1 }} of {{ items.length }}</p></div>
      <div class="col-xs-4 text-right">
          <a (click)="changeActiveItem(item, i + 1)" class="btn btn-orange" *ngIf="notLastItem(mMenuItem)">NEXT <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
  <div class="question-row" *ngIf="items.length > 0">
    <div class="question-item" *ngFor="let item of items; let i = index" [class.active]="isItemActive(item)">
      <h5 class="font-size-18 font-mont-regular text-left">{{ i + 1 }}. {{ item.question }}</h5>

      <textarea name="message" cols="30" rows="10" placeholder="Your answer here..."
                class="form-control no-resize" 
                [(ngModel)]="surveyItems[i].answer"
                *ngIf="item.type == type_paragraph"></textarea>

      <div class="options" *ngIf="item.type == type_radio">
          <div class="option option-radio" *ngFor="let option of item.choices; let e = index">
              <input [attr.value]="option"
                     [attr.id]="i + '-rad-option-' + e" 
                     [attr.name]="i + '_options'" 
                     [attr.checked]="getThisRadioSelected(i, e, option)"
                     (change)="radioChange(i, option)" type="radio">
              <label [attr.for]="i + '-rad-option-' + e">
                  {{ option }}
              </label>
          </div>
      </div>

      <div class="options" *ngIf="item.type == type_checkbox">
          <div class="option option-checkbox" *ngFor="let option of item.choices; let e = index">
              <input [attr.value]="option" [attr.id]="i + '-check-option-' + e" [attr.name]="i + '_options[]'" [(ngModel)]="surveyItems[i].answer[e]" type="checkbox">
              <label [attr.for]="i + '-check-option-' + e" >
                {{ option }}
              </label>
          </div>
      </div>

      <div class="text-center question-controls mrg25T">
        <a (click)="changeActiveItem(item, i + 1)" *ngIf="!isLastItem(item)" class="btn btn-wide btn-ayala btn-small btn-green">NEXT</a>
        <a (click)="save()" *ngIf="isLastItem(item)" class="btn btn-wide btn-ayala btn-small btn-green mrg15R">SAVE &amp; FINISH LATER</a>
        <a (click)="submit()" *ngIf="isLastItem(item)" class="btn btn-wide btn-ayala btn-small btn-orange">SUBMIT</a>
      </div>
    </div>
  </div>
</div>
<div #elseTemplate>
  
</div>